/* styles.css */

/*
There is no responsive design.

*/

/* **************************************** basic styles */

/* top nav bar*/

.top-nav{
  background-color: gray;
  widows: 80%;
  height:12rem;
}

.main-footer{
  background-color: aquamarine;
}
.main-heading{
  background-color: aquamarine;
}







.bottom{
  display:flex;
}